@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: light;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 41);
}

.calculator-body {
    background-color: #000;
    width: 400px;
    height: 75vh;
    border-radius: 30px;
    margin-top: 10vh;
}

.display {
    color: #fff;
    margin: 20% 30px 0 0;
    font-size: 3em;
    text-align: right;
    height: 80px;
}

.keys > div{
    display: flex;
    justify-content: space-between;
    margin: 12px 30px;
    column-gap: 20px;
}

.keys div div {
    font-size: 1.5em;
    border-radius: 50px;
    background-color: rgb(79, 79, 79);
    height: 70px;
    width: 70px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.keys div :hover {
    background-color: rgb(109, 109, 109);
    transform: translateY(-2px);
    transition: .5s;
}

.keys .cancel {
    flex-grow: 2;
    border-radius: 70px;
    justify-content: left;
    padding-left: 28px;
    background-color: rgb(152, 150, 150);
}

.keys .delete {
    background-color: rgb(152, 150, 150);
}

.keys .zero {
    flex-grow: 2;
    border-radius: 70px;
    justify-content: left;
    padding-left: 28px;
}

.keys .op,
.keys .equal {
    background-color: rgb(8, 85, 172);
}

.keys .op:hover {
    background-color: rgb(13, 180, 213);
}

.keys .equal:hover {
    background-color: rgb(19, 198, 73);
}

.keys .top :hover {
    background-color: rgb(152, 45, 45);
}

.credit {
    margin-top: 10vh;
}

.credit a {
    text-decoration: none;
    color: #fff;
}